<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
<connectionStrings>
  <add name="partialConnectString" connectionString="server=.;"
    providerName="System.Data.SqlClient" />
  <add name="SchoolManagment3.Properties.Settings.GestinEcoConnectionString"
    connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\GestinEco.mdf;Integrated Security=True"
    providerName="System.Data.SqlClient" />
  <add name="SchoolManagment3.Properties.Settings.GestionEcoConnectionString"
    connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\GestionEcom.mdf;Integrated Security=True"
    providerName="System.Data.SqlClient" />
</connectionStrings>  
</configuration>
